<a [routerLink]="[ '/' ]">Posts List</a>

<form [formGroup]="postForm">
    <h2 *ngIf="!updatingPost">Add Post</h2>
    <h2 *ngIf="updatingPost">Edit Post</h2>

    <div>
        <input type="text" name="title" placeholder="title" formControlName="title" autocomplete="current-title">
        <div *ngIf="postForm.get('title').invalid && postForm.get('title').touched">
            <p *ngIf="postForm.get('title').errors.required">Title is not be empty!</p>
        </div>
    </div>

    <div>
        <img [src]="previewImageURL" width="300px"  (click)="fileUploader.click()">
    </div>

    <div>
        <label>Select file to upload</label>
        <input type="file" accept="image/*" #fileUploader formControlName="imageUrl" (change)="onImgChange($event)">
    </div>

    <div>
        <textarea name="content" formControlName="content" cols="30" rows="10" placeholder="content" autocomplete="current-content"></textarea>
        <div *ngIf="postForm.get('content').invalid && postForm.get('content').touched">
            <p *ngIf="postForm.get('content').errors.required">Content is not be empty!</p>
        </div>
    </div>

    <div>
        <button [disabled]="postForm.invalid" *ngIf="!updatingPost" (click)="addNewPost(postForm.value)">Add New Post</button>
        <button [disabled]="postForm.invalid" *ngIf="updatingPost" (click)="editPost(postForm.value)">Save changes</button>
    </div>
</form>