<header>
    <a [routerLink]="[ '/' ]">Back to Posts List</a>
</header>

<main>
    <section class="post-details">
        <div class="post-details__controls">
            <button *ngIf="isAdmin" (click)="onEditBtnClick(post)">Edit Post</button>
            <button *ngIf="isAdmin" (click)="deletePost(post.imageStorageName, post.postKey)">Delete Post</button>
        </div>

        <article class="post">
            <h3 class="post__title">{{post.title}}</h3>
            <img class="post__img" [src]="post.imageUrl" alt="post's image" width="300">
            <p class="post__text">{{post.content}}</p>
        </article>
    </section>
</main>
