<header class="header">
  <div class="header__bar">
    <button (click)="signOut()" class="btn btn_light btn_small">Sign Out</button>
  </div>
</header>

<section class="posts">
  <h2 class="posts__title">Posts</h2>

  <div class="posts__add">
    <button *ngIf="isAdmin" routerLink="./create"><i class="material-icons">post_add</i></button>
  </div>

  <ul class="posts__list" *ngIf="posts">
    <li class="post-card" *ngFor="let post of posts" (click)="goToPost(post)">
      <h3 class="post-card__title">{{post.title}}</h3>
      <div class="post-card__img">
        <img [src]="post.imageUrl" alt="post image">
      </div>
      <p class="post-card__text">{{post.content}}</p>
    </li>
  </ul>
</section>



