<header>
    <button (click)="signOut()">Sign Out</button>
    <button *ngIf="isAdmin" routerLink="./create">Add Post</button>
</header>

<section class="posts">
    <h2 class="posts__title">Posts</h2>

    <ul class="posts__list" *ngIf="posts">
        <li class="post-card" *ngFor="let post of posts" (click)="goToPost(post)">
            <h3 class="post-card__title">{{post.title}}</h3>
            <img class="post-card__img" [src]="post.imageUrl" alt="" width="150">
            <p class="post-card__text">{{post.content}}</p>
        </li>
    </ul>
</section>



