<a [routerLink]="[ './post' ]">Back to Post</a>

<form [formGroup]="editPostForm">
    <h2>Edit Post</h2>

    <div>
        <input type="text" name="title" placeholder="title" formControlName="title" autocomplete="current-title">
        <div *ngIf="editPostForm.get('title').invalid && editPostForm.get('title').touched">
            <p *ngIf="editPostForm.get('title').errors.required">Title is not be empty!</p>
        </div>
    </div>

    <div>
        <img [src]="imgSrc" width="300px"  (click)="fileUploader.click()">
    </div>

    <div>
        <label>Select file to upload</label>
        <input type="file" accept="image/*" #fileUploader formControlName="imageUrl" (change)="showPreview($event)">
    </div>

    <div>
        <textarea name="content" formControlName="content" cols="30" rows="10" placeholder="content" autocomplete="current-content"></textarea>
        <div *ngIf="editPostForm.get('content').invalid && editPostForm.get('content').touched">
            <p *ngIf="editPostForm.get('content').errors.required">Content is not be empty!</p>
        </div>
    </div>

    <div>
        <button [disabled]="editPostForm.invalid"  (click)="editPost(editPostForm.value)">Save changes</button>
    </div>
</form>