<form (ngSubmit)="login(loginForm.value)" [formGroup]="loginForm">
    <p>Login with Email and Password.</p>

    <input type="email" name="email" formControlName="email" placeholder="email">
    <div *ngIf="loginForm.get('email').invalid && loginForm.get('email').touched">
        <p *ngIf="loginForm.get('email').errors.required">Email is not be empty!</p>
        <p *ngIf="loginForm.get('email').errors.email">Enter a valid email!</p>
    </div>

    <input type="password" name="password" formControlName="password" placeholder="password">
    <div *ngIf="loginForm.get('password').invalid && loginForm.get('password').touched">
        <p *ngIf="loginForm.get('password').errors.required">Password is not be empty!</p>
        <p *ngIf="loginForm.get('password').errors.minlength">The length must be at least {{ loginForm.get('password').errors.minlength.requiredLength }}. Current Length - {{ loginForm.get('password').errors.minlength.actualLength }}</p>
    </div>

    <button type="submit" [disabled]="loginForm.invalid">Login</button>
</form>
<div>
    <a routerLink="./signup">No account? Create one here.</a>
</div>